<header class="top-header">
  <div class="container">
    <div class="col-md-4 col-sm-4 mr-l"> <img src="images/logo-mini.png" alt="Image" class="img-responsive" /> </div>
    <!--col-md-4-->

    <!--col-md-4--> 
  </div>
  <!--container-->
  <div class="clearfix"></div>
  <!--clearfix--> 
</header>
<!--top-header-->
<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="roundboxbig">
        <div class="scrool-box">
          <h2 id="privacy">Summary</h2>
          <!--  TEXT GOES HERE -->
            
        </div>
        <!--scrool-box-->
        <center>
          <a href="#/pledge" name="btn" class="btn btn-success btn-lg"> &nbsp; Back &nbsp; </a>
        </center>
      </div>
      <!--roundboxbig--> 
    </div>
    <!--container--> 
  </div>
  <!--row--> 
</div>
<!--container-fluid--> 
