<div class="container-fluid">
<div class="row">
  <div class="container">
    <div class="row wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content ">
          <div class="carousel slide cin modd" id="carousel2">
            <div class="carousel-inner">
              <div class="item active"><img src="images/car1.png" alt="Image" class="simgg" />
                <div class="carousel-caption"><br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <h1><b>Your plan for hereditary cancer prevention</b></h1>
                  <p>Take control of your health, your data, and your future</p>
                  <a href="#/pledge" name="btn" class="btn btn-primary clea btn-lg"> &nbsp; &nbsp; How It Works &nbsp; &nbsp;</a> </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <!--clearfix--> 
        </div>
      </div>
    </div>
    <!--container--> 
  </div>
  <!--row--> 
</div>