<div id="grad1" class="container" style="top: 22%; position:absolute">
  <div class="col-md-4 col-md-offset-4 login-container">

    <div style="padding: 20px">
      <center>
        <img src="/images/ciqlogowhite.png" alt="Ciqlogowhite" />
        <br/>
      </center>
    </div>

    <button class="col-md-10 col-md-offset-1 btn btn-md btn-rounded btn-primary" ng-click="login()">
        Log in
    </button>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="#"
        style="color:white; font-size:12px;font-weight:100;margin-left:15px">Forgot password?</a>
      </div>
    </div>
  </div>
  <div id="footer">

  </div>
</div>
